<div class="side-bar">
  <ul class="side-bar-links">
    <li>
      <a routerLink="/home">
        <i class="fas fa-home" style="font-size: 22px; color: white;"></i>
        <h4 class="side-bar-desc">Home</h4>
      </a>
    </li>
    <li>
      <a routerLink="/trending">
        <i class="fab fa-hotjar" style="font-size: 22px; color: white;"></i>
        <h4 class="side-bar-desc">Trending</h4>
      </a>
    </li>
    <li>
      <a routerLink="/subscription">
        <i class="far fa-images" style="font-size: 22px; color: white;"></i>
        <h4 class="side-bar-desc">Subscription</h4>
      </a>
    </li>
    <li>
      <a routerLink="/library">
        <i class="far fa-folder" style="font-size: 22px; color: white;"></i>
        <h4 class="side-bar-desc">Library</h4>
      </a>
    </li>
    <li>
      <a routerLink="/history">
        <i class="fas fa-history" style="font-size: 22px; color: white;"></i>
        <h4 class="side-bar-desc">History</h4>
      </a>
    </li>
  </ul>
</div>