<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="homeBody">
  <ng-template #login>
    <div class="guest">
      <div class="logo">
        <img src="../../assets/cowboy bebop aesthethic.jpg" width="35%">
      </div>
      <div clas="title">
        <h2>Make a playlist for your favourite videos</h2>
      </div>
      <div class="desc">
        <h4>Playlists aren't viewable when signed out.</h4>
      </div>
      <button class="button button2" (click)="auth.googleSignin()">Sign In</button>
    </div>
  </ng-template>
</div>

<h2 class="category">
  Your Playlists
</h2>
<div class="homeBody">
  <div *ngIf="auth.user$ | async as user; else login">
    <div class="list " *ngFor="let playlist of playlists">
      <app-playlist [playlist]="playlist"></app-playlist>
    </div>
  </div>
</div>