.category{
  font-family: 'Poppins',sans-serif;
  margin-left: 76px;
  padding-top: 69px;
  padding-bottom: 16px;
}

.homeBody{
  margin-left: 90px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  align-items: center;
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto auto;
  padding: 0;
}