<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="homeBody">
  <div class="container">
    <div class="title">
      Offers from Youtube
    </div>
    <div class="flex-container">
      <div class="offer-container">
        <div class="offer-image">
          <img src="../../assets/ytu_desktop_premium_offer_450x254.png" width="100%">
        </div>
        <div class="offer-title">Enjoy 2 months of YouTube Premium</div>
        <div class="offer-desc">
          Get ad-free access, downloads, and background play when you get YouTube Premium
        </div>
        <div class="learn-more">Learn More</div>
      </div>
      <div class="offer-container">
        <div class="offer-image">
          <img src="../../assets/ytu_desktop_music_offer_450x254.png" width="100%">
        </div>
        <div class="offer-title">Uninterrupted music • First month free!</div>
        <div class="offer-desc">
          Get ad-free access, downloads, and background play when you get YouTube Premium
        </div>
        <div class="learn-more">Learn More</div>
      </div>
    </div>
  </div>
</div>